# ansible
## ignore retry files
*.retry
## ignore vault password file
.vault_pass
## ignore credentials file
provisioning/group_vars/credentials.yml

# vagrant
## ignore vm configuration files
.vagrant
