# {{ ansible_managed }}
############################################################################
# Copyright 2018-2025 Ramon Fischer                                        #
#                                                                          #
# Licensed under the Apache License, Version 2.0 (the "License");          #
# you may not use this file except in compliance with the License.         #
# You may obtain a copy of the License at                                  #
#                                                                          #
#     http://www.apache.org/licenses/LICENSE-2.0                           #
#                                                                          #
# Unless required by applicable law or agreed to in writing, software      #
# distributed under the License is distributed on an "AS IS" BASIS,        #
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. #
# See the License for the specific language governing permissions and      #
# limitations under the License.                                           #
############################################################################

explanation for the directory structure:

/var/www/{{ WWW_PREFIX }}{{ DOMAIN_NAME }}/
├── .ssh/
│   └── authorized_keys -------------------------------- ssh public keys (ed25519 encouraged)
├── README --------------------------------------------- this readme file
├── etc/
│   ├── apache2/
│   │   ├── conf-available/ --------------------------- apache2 configuration files; suffixes must be ".conf"!
│   │   │   ├── basic_authentication.conf.example ----- example file for a basic authentication form
│   │   │   └── ssl_example.conf.example -------------- example file for an ssl configuration
│   │   ├── conf-enabled/ ----------------------------- use symbolic links from "../conf-available/" to activate configuration files
│   │   └── htpasswd ---------------------------------- text file to store usernames and passwords for the basic authentication form (bcrypt encryption encouraged)
│   └── ssl/
│       └── certs/ ------------------------------------ place for ssl certificates
├── htdocs/ ------------------------------------------- public space: all files are accessable through internet
├── logs/ --------------------------------------------- apache2 log files
└── private/ ------------------------------------------ place for miscellaneous files
