---
############################################################################
# Copyright 2018-2025 Ramon Fischer                                        #
#                                                                          #
# Licensed under the Apache License, Version 2.0 (the "License");          #
# you may not use this file except in compliance with the License.         #
# You may obtain a copy of the License at                                  #
#                                                                          #
#     http://www.apache.org/licenses/LICENSE-2.0                           #
#                                                                          #
# Unless required by applicable law or agreed to in writing, software      #
# distributed under the License is distributed on an "AS IS" BASIS,        #
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. #
# See the License for the specific language governing permissions and      #
# limitations under the License.                                           #
############################################################################

- name: install terminal multiplexer (tmux)
  package:
    name: "tmux"
    cache_valid_time: "{{ CACHE_VALID_TIME }}"
    update_cache: "yes"
    state: "{{ PACKAGE_STATE }}"
  tags:
    - tmux

# required when using tmux locally
- name: generate required locale
  locale_gen:
    name: "en_US.UTF-8"
    state: "present"
  tags:
    - tmux

- name: create directory for repositories
  file:
    path: "/usr/local/share/git/tmux/"
    owner: "root"
    group: "staff"
    mode: "0755"
    state: "directory"
  tags:
    - tmux

- name: copy global configuration file
  copy:
    src: "files/etc/tmux.conf"
    dest: "/etc/tmux.conf"
    owner: "root"
    group: "root"
    mode: "0644"
  tags:
    - tmux

- name: add configuration file to user skeleton
  file:
    path: "/etc/skel/.tmux.conf"
    owner: "root"
    group: "root"
    mode: "0644"
    state: "touch"
  tags:
    - tmux
