# {{ ansible_managed }}
############################################################################
# Copyright 2018-2025 Ramon Fischer                                        #
#                                                                          #
# Licensed under the Apache License, Version 2.0 (the "License");          #
# you may not use this file except in compliance with the License.         #
# You may obtain a copy of the License at                                  #
#                                                                          #
#     http://www.apache.org/licenses/LICENSE-2.0                           #
#                                                                          #
# Unless required by applicable law or agreed to in writing, software      #
# distributed under the License is distributed on an "AS IS" BASIS,        #
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. #
# See the License for the specific language governing permissions and      #
# limitations under the License.                                           #
############################################################################

#<Location "/">
#    <RequireAll>
#        AuthName "Limited access for {{ WWW_PREFIX }}{{ DOMAIN_NAME }}"
#        AuthType Basic
#        AuthUserFile "/var/www/{{ WWW_PREFIX }}{{ DOMAIN_NAME }}/etc/apache2/htpasswd"
#
#        <RequireAny>
#            Require all denied
#            Require valid-user
#            Require ip some_public_ip
#        </RequireAny>
#    </RequireAll>
#</Location>
